/* Color Scheme */
$primary-color:  #49cea0; //  #85F0A0;
$secondary-color: #374867;
$white: #fff;
$dark: #374867;
$gray: #cfe9eb;
$light-gray: #f5f5f5;
$blue-gray: #4d6591;
$blue: #4d6591;
$light-green: #85F0A0;
$dark-green:  #59B392;
$dark-teal: #2A95AE;


$background-color: #374867;
$over-background-color: $blue-gray;

$background-color-alt: $blue-gray;

$text-color: $gray;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 15%);

$border-color: $blue-gray;

$hr-color: $text-color;
$tr-color: #f0f0f0;

$syntax-highlighting-background: #f3f3f3;

mark {
  background-color: $light-green;
  color: $background-color;
}
